#-------------------------------------------------------------------------------
# Copyright 2019 Alexander Agura
# github.com/dominiksalvet/asus-fan-control
#-------------------------------------------------------------------------------

[Unit]
Description=Run asus-fan-control after resuming from hibernate.
After=hibernate.target
After=suspend-then-hibernate.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/asus-fan-control

[Install]
WantedBy=hibernate.target
WantedBy=suspend-then-hibernate.target
