#-------------------------------------------------------------------------------
# Copyright 2019-2020 Alexander Agura
# Copyright 2020 Dominik Salvet
# https://github.com/dominiksalvet/asus-fan-control
#-------------------------------------------------------------------------------

[Unit]
Description=Executes asus-fan-control whenever necessary.
Before=multi-user.target
After=hibernate.target suspend-then-hibernate.target

[Service]
Type=oneshot
ExecStartPre=/sbin/modprobe acpi_call
ExecStart=/usr/local/bin/asus-fan-control

[Install]
WantedBy=multi-user.target hibernate.target suspend-then-hibernate.target
