[Unit]
Description=Fan control for ASUS devices running Linux

[Service]
Type=oneshot
ExecStart=/usr/bin/asus-fan-control

[Install]
WantedBy=multi-user.target
