#-------------------------------------------------------------------------------
# Copyright 2019-2025 Dominik Salvet
# https://github.com/dominiksalvet/asus-fan-control
#-------------------------------------------------------------------------------

name: CI
on: [push, pull_request]

jobs:
  Analysis:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout commit
      uses: actions/checkout@v4

    - name: Check shellcheck
      run: shellcheck --version

    - name: Check source files
      run: |
        shellcheck src/asus-fan-control
        shellcheck src/bash/afc-completion

    - name: Check install files
      run: |
        shellcheck .install/install-global-Linux
        shellcheck .install/uninstall-global-Linux
